einops==0.8.0
ipython==8.12.3
jsonlines==4.0.0
librosa==0.10.2.post1
mne==1.7.1
numpy==2.0.1
pandas==2.2.2
peft==0.11.1
PyYAML==6.0.1
PyYAML==6.0.2
scikit_learn==1.4.2
scipy==1.14.0
soundfile==0.12.1
torch>=2.2.0
torchmetrics==1.4.0.post0
tqdm==4.66.4
transformers==4.48.0
wandb==0.17.6
whisperx==3.1.4
